@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-seri;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

section {
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}

.swiper {
    width: 950px;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    width: 280px;
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background: #6616d0;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #6616d0;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    transition: all 0.3 ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}